<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HybridFrameWorkSuite">
<listeners>
     <listener class-name="com.qa.linkedin.listners.ExtentReportListener"></listener>
  </listeners>
  <test thread-count="5" name="HybridFrameWorkTest">
    <classes>
      <class name="com.qa.linkedin.testcase.SearchDataDrivenTest"/>
    </classes>
  </test> <!-- HybridFrameWorkTest -->
</suite> <!-- HybridFrameWorkSuite -->
